<div id="experienceHeader" class="title article black">
	<h1>EXPERIENCE</h1>
	<h2 class="hvr-underline-from-center designCategory active">All</h2>
	<h2 class="hvr-underline-from-center designCategory">Jobs</h2>
	<h2 class="hvr-underline-from-center designCategory">Projects</h2>
</div>

<div id="experience" class="parralax">
    <div class="overlayBackground">
        <!--<h1 class="title">EXPERIENCE</h1>
        <h2 class="hvr-underline-from-center designCategory active">All</h2>
        <h2 class="hvr-underline-from-center designCategory">Jobs</h2>
        <h2 class="hvr-underline-from-center designCategory">Projects</h2>-->
        <div class="widthDiv">
            <div class="row">
                <div class="timeline-centered">
                    <article class="timeline-entry sort jobs">
                        <div class="timeline-entry-inner">
                            <time class="timeline-time"><span>OCT 2016 - OCT 2017</span><span>1 year</span></time>
                            <div class="timeline-icon">
                                <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
                            </div>
                            <div class="timeline-label">
                                <div class="timeline-company">
                                    Wraptor Laboratories
                                </div>
                                <div class="timeline-title">
                                    Front-End Developper - <span>Professional Contract</span>
                                </div>
                                <div class="timeline-body">
                                    Upgrade of antispam SpamWars IHM
                                    <br>Recast of software Jeebop : web / mobile version with AngularJS
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="timeline-entry sort jobs">
                        <div class="timeline-entry-inner">
                            <time class="timeline-time"><span>JUN 2016 - SEP 2016</span><span>4 months</span></time>
                            <div class="timeline-icon">
                                <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
                            </div>
                            <div class="timeline-label">
                                <div class="timeline-company">
                                    Institut de Recherche pour le Développement
                                </div>
                                <div class="timeline-title">
                                    Web Developper - <span>Internship</span>
                                </div>
                                <div class="timeline-body">
                                    Web Application for researchers and laboratories about Buruli ulcer, differents modules : Projects / Samples / Users / Documents Management, Webmapping
                                    <br> Requirements : Specifications Functional document, Database, User / Developper documentation
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="timeline-entry sort projects">
                        <div class="timeline-entry-inner">
                            <time class="timeline-time"><span>SEP 2015 - JUN 2016</span><span>9 months</span></time>
                            <div class="timeline-icon">
                                <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
                            </div>
                            <div class="timeline-label">
                                <div class="timeline-company">
                                    Microsoft Imagine Cup
                                </div>
                                <div class="timeline-title">
                                    UX Design / Web Developper - <span>Competition</span>
                                </div>
                                <div class="timeline-body">
                                    Imagine Cup is a global competition that empowers the next generation of computer science students to team up and use their creativity, passion and knowledge of technology to create applications that shape how we live, work and play.
                                    <br> Our project : Houswift, housing around a Facebook event. Using of database, Graph API. Modules : User / Events / Housing / Hosting / Messages Management
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="timeline-entry sort jobs">
                        <div class="timeline-entry-inner">
                            <time class="timeline-time"><span>AUG 2015 - SEP 2015</span><span>1 month</span></time>
                            <div class="timeline-icon">
                                <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
                            </div>
                            <div class="timeline-label">
                                <div class="timeline-company">
                                    YESSS Electrical (London)
                                </div>
                                <div class="timeline-title">
                                    Storekeeper - <span>Internship</span>
                                </div>
                                <div class="timeline-body">
                                    Collect supplies, Store equipment, Welcome clients
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="timeline-entry sort jobs">
                        <div class="timeline-entry-inner">
                            <time class="timeline-time"><span>SUMMERS 2013 - 15</span><span>4 months</span></time>
                            <div class="timeline-icon">
                                <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
                            </div>
                            <div class="timeline-label">
                                <div class="timeline-company">
                                    City Hall
                                </div>
                                <div class="timeline-title">
                                    Summer Works - <span>Fixed-term Contract</span>
                                </div>
                                <div class="timeline-body">
                                    Municipal Sailing Centre (1 month 2015), Service Cleanliness (1 month 2014), Local Police (2 months 2013-2014)
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <br><br><br><br>
            <div class="row" id="education">
                <div class="col-md-4 col-sm-6">
                    <div>
                        <i class="fa fa-graduation-cap iconPersonality"></i>
                        <br>
                        <br> <span class="personalityTitle">Paul Langevin (High School)</span>
                        <br>
                        <hr>
                        Engineering Sciences Baccalaureate
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div>
                        <i class="fa fa-university iconPersonality"></i>
                        <br>
                        <br> <span class="personalityTitle">ISEN Toulon (Master Degree)</span>
                        <br>
                        <hr>
                        IT Specialty (last year)
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div>
                        <i class="fa fa-users iconPersonality"></i>
                        <br>
                        <br> <span class="personalityTitle">Associations</span>
                        <br>
                        <hr>
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                        <div class="description">
                            Students Union ISEN Toulon (Extern Communication)
                            <br> ISEN 3D Design (Project Manager / Professor / Graphic Manager)
                            <br> ISEN Partage (Graphic Manager)
                            <br> ISEN Savoirs (Professor)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
