<div id="expression" class="parralax">
    <div class="overlayBackground">
        <div class="widthDiv">
            <i class="fa fa-quote-right fa-3x green"></i>
            <br> "The web development is a sport, we're all &lt;body&gt;builders"
        </div>
    </div>
</div>
<div id="firstVisit" hidden> <i class="fa fa-times pointer" id="closeFirstVisit" aria-hidden="true"></i>
    <p class="green" style="text-transform:uppercase"><i class="fa fa-hand-peace-o fa-lg" aria-hidden="true"></i> Welcome to my site</p> On the home you can view my resume. On the others pages there are my projects, my portfolio, my blog & my precious toolbox.
    <br> Don't hesitate to contact me for information </div>
