<div id="personality" class="parralax article">
    <h1 class="title" style="padding-top:70px;">PERSONALITY</h1>
    <h2 style="padding-bottom:50px;">My assets</h2>
    <div class="widthDiv">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div>
                    <i class="fa fa-lightbulb-o iconPersonality"></i>
                    <br>
                    <br> <span class="personalityTitle">CREATIVITY</span>
                    <br>
                    <hr> Think different </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div>
                    <i class="fa fa-bullhorn iconPersonality"></i>
                    <br>
                    <br> <span class="personalityTitle">COMMUNICATION</span>
                    <br>
                    <hr> Interact is the key to any work </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div>
                    <i class="fa fa-map-signs iconPersonality"></i>
                    <br>
                    <br> <span class="personalityTitle">LEADER</span>
                    <br>
                    <hr> Lead to success </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div>
                    <i class="fa fa-puzzle-piece iconPersonality"></i>
                    <br>
                    <br> <span class="personalityTitle">COWORKING</span>
                    <br>
                    <hr> Be better together </div>
            </div>
        </div>
    </div>
</div>
