<div id="header" class="parralax">
    <div id="presentation" class="article">
        <h1 class="title">PRESENTATION</h1>
        <h2>IT Engineer Student</h2>
        <div id="presentationBody">
            <div class="row">
                <div class="col-md-6 col-sm-12" id="presentationResume">
                    <p>I'm Axel Weyer</p> Born in the South of France and attracted by new technologies and the IT, I went to ISEN Toulon (Higher Institute of Electronic and Digital) to be an IT engineer. Currently, I'm in last year of my school and in professional contract as Assistant engineer developer.
                    <br>
                    <br>My aims are to learn many things about the possibilities of development, and in my career to become a Project manager or a Business engineer. </div>
                <div class="col-md-6 col-sm-12">
                    <table>
                        <tr>
                            <td><i class="fa fa-map-marker green fa-lg" aria-hidden="true" style="margin-right:10px"></i></td>
                            <td class="text-left">Sanary sur Mer, France</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-birthday-cake fa-lg green" aria-hidden="true" style="margin-right:10px"></i></td>
                            <td class="text-left">June 25 1994 <span>(22 yo)</span></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-language fa-lg green" aria-hidden="true" style="margin-right:10px"></i></td>
                            <td class="text-left" style="line-height:24px">French <span>(mother tongue)</span>
                                <br>English <span>(FCE in progress)</span></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-star fa-lg green" aria-hidden="true" style="margin-right:10px"></i></td>
                            <td class="text-left" style="line-height:24px">Sport <span>(football, tennis)</span>
                                <br>Design - Music</td>
                        </tr>
                    </table>
                </div> <a href="#" class="btn" id="downloadButton"><i class="fa fa-download" aria-hidden="true"></i> DOWNLOAD RESUME</a> </div>
            <!--</div>
<div class="social-buttons"> <a class="social-button linkedin"><i class="fa fa-linkedin"></i></a> <a class="social-button behance"><i class="fa fa-behance"></i></a> <a class="social-button github"><i class="fa fa-github"></i></a> <a class="social-button mail" data-toggle="popover" data-html="true" data-content="axel.weyer@gmx.fr<br>axel.weyer83@gmail.com" data-placement="right"><i class="fa fa-envelope"></i></a> </div>-->
            <br>
            <div class="social-buttons">
                <a href="https://fr.linkedin.com/in/axelweyer" target="_blank">
                    <div class='link'>
                        <div class='small'><i class="fa fa-linkedin"></i></div>
                        <div class='full'>
                            <div class='f1'>LinkedIn <span>Axel Weyer</span></div>
                        </div>
                    </div>
                </a>
                <a href="https://www.behance.net/axelweyer" target="_blank">
                    <div class='link border'>
                        <div class='small'><i class="fa fa-behance"></i></div>
                        <div class='full'>
                            <div class='f1'>Behance <span>Axel Weyer</span></div>
                        </div>
                    </div>
                </a>
                <a href="https://github.com/axelweyer" target="_blank">
                    <div class='link border'>
                        <div class='small'><i class="fa fa-github"></i></div>
                        <div class='full'>
                            <div class='f1'>GitHub <span>axelweyer</span></div>
                        </div>
                    </div>
                </a>
                <div class='link border'>
                    <div class='small'><i class="fa fa-envelope"></i></div>
                    <div class='full'>
                        <div class='f1'> Email <span>axel.weyer83@gmail.com</span> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
