
<div id="competenciesBackground" class="parralax article">
    <h1 class="title" style="padding-top:70px;">PROFESSIONAL SKILLS</h1>
    <h2 style="padding-bottom:50px;">Development, Management & others</h2>
    <div class="widthDiv">
        <div class="row">
            <ul class="chart">
                <p>WEB</p>
                <li class="past" titleBar="Web" data-toggle="popover" data-trigger="hover" data-content="HTML / XML / CSS / JS / PHP" data-placement="top"><span class="bar" data-number="80"></span><span class="number">ADVANCED</span></li>
                <p>SQL</p>
                <li class="past" titleBar="SQL" data-toggle="popover" data-trigger="hover" data-content="MYSQL / POSTGRESQL" data-placement="top"><span class="bar" data-number="90"></span><span class="number">ADVANCED</span></li>
                <p>JAVA</p>
                <li class="past" titleBar="JAVA" data-toggle="popover" data-trigger="hover" data-content="JAVA / Notions of JEE" data-placement="top"><span class="bar" data-number="60"></span><span class="number">INTERMEDIATE</span></li>
                <p>ANDROID</p>
                <li class="past" titleBar="ANDROID" data-toggle="popover" data-trigger="hover" data-content="ANDROID / Notions of Cordova" data-placement="top"><span class="bar" data-number="60"></span><span class="number">INTERMEDIATE</span></li>
                <p>AGILE</p>
                <li class="past" titleBar="AGILE" data-toggle="popover" data-trigger="hover" data-content="SCRUM" data-placement="top"><span class="bar" data-number="80"></span><span class="number">ADVANCED</span></li>
            </ul>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-3 text-center competencies">
                <div>
                    <div id="iconJquery" class="imgCompetencies"></div>
                    Jquery
                </div>
            </div>
            <div class="col-sm-3 text-center competencies">
                <div>
                    <div id="iconBootstrap" class="imgCompetencies"></div>
                    Bootstrap
                </div>
            </div>
            <div class="col-sm-3 text-center competencies">
                <div>
                    <div id="iconSymfony" class="imgCompetencies"></div>
                    Symfony
                </div>
            </div>
            <div class="col-sm-3 text-center competencies">
                <div>
                    <div id="iconJmerise" class="imgCompetencies"></div>
                    Jmerise
                    <div class="description">& Mysql Workbench</div>
                </div>
            </div>
            <div class="col-sm-12"></div>
            <div class="col-sm-3 text-center competencies">
                <div>
                    <div id="iconUml" class="imgCompetencies"></div>
                    UML
                </div>
            </div>
            <div class="col-sm-3 text-center competencies">
                <div>
                    <div id="iconUnix" class="imgCompetencies"></div>
                    UNIX
                    <div class="description">Shell / Unix Environment</div>
                </div>
            </div>
            <div class="col-sm-3 text-center competencies">
                <div>
                    <div id="iconGit" class="imgCompetencies"></div>
                    GIT / SVN
                    <div class="description">Gitlab / SourceTree / BitBucket</div>
                </div>
            </div>
            <div class="col-sm-3 text-center competencies">
                <div>
                    <div id="iconCisco" class="imgCompetencies"></div>
                    NETWORK
                    <div class="description">Cisco Certified Network Associate Routing & Switching level</div>
                </div>
            </div>
            <div class="col-sm-12"></div>
            <div class="col-sm-3 text-center competencies">
                <div>
                    <div id="iconAgile" class="imgCompetencies"></div>
                    AGILE
                    <div class="description">Taiga / Trello / Redmine / Microsoft Project</div>
                </div>
            </div>
            <div class="col-sm-3 text-center competencies">
                <div>
                    <div id="iconOffice" class="imgCompetencies"></div>
                    OFFICE
                    <div class="description">Word / Excel / PowerPoint</div>
                </div>
            </div>
            <div class="col-sm-3 text-center competencies">
                <div>
                    <div id="iconAdobe" class="imgCompetencies"></div>
                    ADOBE
                    <div class="description">PhotoShop / Illustrator</div>
                </div>
            </div>
            <div class="col-sm-3 text-center competencies">
                <div>
                    <div id="iconVoltaire" class="imgCompetencies"></div>
                    VOLTAIRE
                    <div class="description">French certificat : Profesionnal level</div>
                </div>
            </div>
        </div>
    </div>
</div>
