
<div id="competenciesBackground" class="parralax article">
    <h1 class="title" style="padding-top:70px;">PROFESSIONAL SKILLS</h1>
    <h2 style="padding-bottom:50px;">Languages & Tools</h2>
    <div class="overlayBackground">
        <div class="widthDiv">
            <div class="row">
                <div class="col-md-2 col-sm-6 col-md-offset-1">
                    <div class="card">
                        <div class="card-chart">
                            <div class="card-donut card-web" data-size="150" data-thickness="12"></div>
                            <div class="card-center">
                                <span class="card-value">WEB</span>
                                <div class="card-label">Advanced</div>
                            </div>
                            <p>HTML - CSS - JS - PHP - XML</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6">
                    <div class="card">
                        <div class="card-chart">
                            <div class="card-donut card-java" data-size="150" data-thickness="12"></div>
                            <div class="card-center">
                                <span class="card-value">JAVA</span>
                                <div class="card-label">Intermediate</div>
                            </div>
                            <p>Android - Notions of JEE / Cordova / Ionic</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6">
                    <div class="card">
                        <div class="card-chart">
                            <div class="card-donut card-sql" data-size="150" data-thickness="12"></div>
                            <div class="card-center">
                                <span class="card-value">SQL</span>
                                <div class="card-label">Advanced</div>
                            </div>
                            <p>MySql - PostgreSql</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6">
                    <div class="card">
                        <div class="card-chart">
                            <div class="card-donut card-c" data-size="150" data-thickness="12"></div>
                            <div class="card-center">
                                <span class="card-value">C</span>
                                <div class="card-label">Intermediate</div>
                            </div>
                            <p>Notions of C++ / C#</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <div class="card">
                        <div class="card-chart">
                            <div class="card-donut card-agile" data-size="150" data-thickness="12"></div>
                            <div class="card-center">
                                <span class="card-value">Agile</span>
                                <div class="card-label">Advanced</div>
                            </div>
                            <p>Scrum - Kanban</p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-3 text-center competencies">
                    <div>
                        <div id="iconJquery" class="imgCompetencies"></div>
                        Jquery
                    </div>
                </div>
                <div class="col-sm-3 text-center competencies">
                    <div>
                        <div id="iconBootstrap" class="imgCompetencies"></div>
                        Bootstrap
                    </div>
                </div>
                <div class="col-sm-3 text-center competencies">
                    <div>
                        <div id="iconSymfony" class="imgCompetencies"></div>
                        Symfony
                    </div>
                </div>
                <div class="col-sm-3 text-center competencies">
                    <div>
                        <div id="iconJmerise" class="imgCompetencies"></div>
                        Jmerise
                        <div class="description">& Mysql Workbench</div>
                    </div>
                </div>
                <div class="col-sm-12"></div>
                <div class="col-sm-3 text-center competencies">
                    <div>
                        <div id="iconUml" class="imgCompetencies"></div>
                        UML
                    </div>
                </div>
                <div class="col-sm-3 text-center competencies">
                    <div>
                        <div id="iconUnix" class="imgCompetencies"></div>
                        UNIX
                        <div class="description">Shell / Unix Environment</div>
                    </div>
                </div>
                <div class="col-sm-3 text-center competencies">
                    <div>
                        <div id="iconGit" class="imgCompetencies"></div>
                        GIT / SVN
                        <div class="description">Gitlab / SourceTree / BitBucket</div>
                    </div>
                </div>
                <div class="col-sm-3 text-center competencies">
                    <div>
                        <div id="iconCisco" class="imgCompetencies"></div>
                        NETWORK
                        <div class="description">Cisco Certified Network Associate Routing & Switching level</div>
                    </div>
                </div>
                <div class="col-sm-12"></div>
                <div class="col-sm-3 text-center competencies">
                    <div>
                        <div id="iconAgile" class="imgCompetencies"></div>
                        AGILE
                        <div class="description">Taiga / Trello / Redmine / Microsoft Project</div>
                    </div>
                </div>
                <div class="col-sm-3 text-center competencies">
                    <div>
                        <div id="iconOffice" class="imgCompetencies"></div>
                        OFFICE
                        <div class="description">Word / Excel / PowerPoint</div>
                    </div>
                </div>
                <div class="col-sm-3 text-center competencies">
                    <div>
                        <div id="iconAdobe" class="imgCompetencies"></div>
                        ADOBE
                        <div class="description">PhotoShop / Illustrator</div>
                    </div>
                </div>
                <div class="col-sm-3 text-center competencies">
                    <div>
                        <div id="iconVoltaire" class="imgCompetencies"></div>
                        VOLTAIRE
                        <div class="description">French certificat : Profesionnal level</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
