
<p class="title">TECHNOLOGIES</p>
<br><br>
<div class="row">
    <div class="col-sm-3 text-center technologies">
        <img src="img/projects/icons/bootstrap.png" class='technologiesIcon'>
        <br>
        <span class="technologyTitle">Bootstrap</span>
        <br>
        WEB Responsive Framework
    </div>
    <div class="col-sm-3 text-center technologies">
        <img src="img/projects/icons/graphapi.png" class='technologiesIcon'>
        <br>
        <span class="technologyTitle">Graph API</span>
        <br>
        Facebook API
    </div>
    <div class="col-sm-3 text-center technologies">
        <img src="img/projects/icons/googlemaps.png" class='technologiesIcon'>
        <br>
        <span class="technologyTitle">Google Maps API</span>
        <br>
        JS Mapping API
    </div>


    <div class="col-sm-12">
        <br><br><br>
    </div>
</div>



<p class="title">PROJECT</p>
<br><br>
<div class="row projectBody">
    <p class="subtitle green">Houswift</p>
    <p class="text-center projectDate"><i class="fa fa-clock-o" aria-hidden="true"></i> SEPT 2015 - JUN 2016</p>
    <br><br>
    s
</div>
<br><br><br><br>
