
<p class="title">TECHNOLOGIES</p>
<br><br>
<div class="row">
    <div class="col-sm-3 text-center technologies">
        <img src="img/projects/icons/bootstrap.png" class='technologiesIcon'>
        <br>
        <span class="technologyTitle">Bootstrap</span>
        <br>
        WEB Responsive Framework
    </div>
    <div class="col-sm-3 text-center technologies">
        <img src="img/projects/icons/mini.png" class='technologiesIcon'>
        <br>
        <span class="technologyTitle" style="padding-top:10px;margin-top:10px">MINI</span>
        <br>
        PHP Framework
    </div>
    <div class="col-sm-3 text-center technologies">
        <img src="img/projects/icons/leaflet.png" class='technologiesIcon'>
        <br>
        <span class="technologyTitle">LEAFLET</span>
        <br>
        JS Maps Library
    </div>
    <div class="col-sm-3 text-center technologies">
        <img src="img/projects/icons/mapbox.png" class='technologiesIcon'>
        <br>
        <span class="technologyTitle">Mapbox</span>
        <br>
        Mapping platform
    </div>


    <div class="col-sm-12">
        <br><br><br>
    </div>
</div>



<p class="title">PROJECT</p>
<br><br>
<div class="row projectBody">
    <p class="subtitle green">La Carte Etudiante</p>
    <p class="text-center projectDate"><i class="fa fa-clock-o" aria-hidden="true"></i> AUG 2016 - Current</p>
    <br><br>
    Avez-vous déjà galéré pour trouver un logement étudiant près de votre école ? Ou alors avant les études, un problème pour connaître les écoles dans votre secteur ? Ce projet est pour vous : étudiants et futurs étudiants.
    <br><br>
    Encore en phase d'idéation, le projet a besoin de votre aide pour finaliser l'objectif final. Le projet est une application web communautaire ; elle est composée d'une Map interactive avec les différentes résidences universitaires et les écoles. Tout le monde peut ajouter un bâtiment sur la carte, et quand celui-ci sera validé, les différentes informations seront affichées (ex : adresse, téléphone, photos etc). Vous pourrez aussi ajouter des avis sur ces lieux fréquentés pour aider les internautes dans leur choix de résidences et écoles.
    <br><br>
    Dans une seconde partie, un coin pour les vendeurs sera en place. Sur le même principe d'une Map, les ventes seront triées par résidences étudiantes. Les étudiants pourront alors écrire des annonces pour vendre leur meubles par exemple.
    Bien sûr, l'accès au site sera totalement libre et gratuit !
</div>
<br><br><br><br>
